*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
img{
    width:100%;
}

html{
   
}

body{
   
}
.container{
  
}
.header{
   
    
}
.header h1{
    
}
.header_big{
   
  
}
.navigation{
   
}
.navigation ul{
   
}
.navigation ul li{
    
}
.navigation ul li a{
   
}
.navigation ul li a:hover{
 
}
.content{
   
}
.content p{
    
}
.contents::after, .navigation::after, .mater::after {
    content: "";
    clear: both;
    display: table;
  }

  @media (min-width:801px){    
    
    .header_big{
   
    }
    .header_mobil{
       
    }
    .navigation{
       
    }
    .navigation ul li{
        
    }
    .contents{
        
    }
    .content img{
        
    }
}
